<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <link rel="stylesheet" href="/readMail.css" />
    <style>
    .avatar {
        width: 40px;
        height: 35px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 10px;
    }
    </style>
    <title>Email</title>
  </head>
<body>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container">
    <div class="row">
        <div class="container mt-3">
                <a href="/profile"><h4 class="welcome-text text-right mb-2"><img src="/avt.jpg" class="avatar" id="avatar-preview"><%= name %></h4></a>
         </div>
        <div class="col-sm-3">
            <ul class="nav nav-pills nav-stacked nav-email rounded shadow mb-20">
                <li class="active">
                    <a href="/email">
                        <i class="fa fa-inbox"></i> Inbox  <span class="label pull-right">7</span>
                    </a>
                </li>
                <li>
                    <a href="#mail-compose.html"><i class="fa fa-envelope-o"></i> Send Mail</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-certificate"></i> Important</a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-file-text-o"></i> Drafts <span class="label label-info pull-right inbox-notification">35</span>
                    </a>
                </li>
                <li><a href="#"> <i class="fa fa-trash-o"></i> Trash</a></li>
            </ul>

            <h5 class="nav-email-subtitle">More</h5>
            <ul class="nav nav-pills nav-stacked nav-email mb-20 rounded shadow">
                <li>
                    <a href="#">
                        <i class="fa fa-folder-open"></i> Promotions  <span class="label label-danger pull-right">3</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-folder-open"></i> Job list
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-folder-open"></i> Backup
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9">
            <!-- Star form compose mail -->
            <form class="form-horizontal">
                <div class="panel mail-wrapper rounded shadow">
                    <div class="panel-heading">
                        <div class="pull-left">
                            <h3 class="panel-title">View Mail</h3>
                        </div>
                        <div class="pull-right">
                            <div class="form-group no-margin no-padding has-feedback">
                                <input type="text" class="form-control" placeholder="Search mail">
                                <button type="submit" class="btn btn-theme fa fa-search form-control-feedback"></button>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div><!-- /.panel-heading -->
                    <div class="panel-sub-heading inner-all">
                        <div class="pull-left">
                            <h3 class="lead no-margin"><%= email.subject %></h3>
                        </div>
                        <div class="pull-right">
                            <button class="btn btn-info btn-sm tooltips" data-container="body" data-original-title="Print" type="button" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-print"></i> </button>
                            <button class="btn btn-danger btn-sm tooltips" data-container="body" data-original-title="Trash" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-trash-o"></i></button>
                            <a href="#mail-compose.html" class="btn btn-success btn-sm"><i class="fa fa-reply"></i> Reply</a>
                        </div>
                        <div class="clearfix"></div>
                    </div><!-- /.panel-sub-heading -->
                    <div class="panel-sub-heading inner-all">
                        <div class="row">
                            <div class="col-md-8 col-sm-8 col-xs-7">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="..." class="img-circle senden-img">
                                <span><%= email.from %> </span>
                                to
                                <strong >me</strong>
                            </div>
                            <% 
                                const date = new Date(email.createdAt);
                                const day = date.getDate();
                                const month = date.getMonth() + 1;

                                const hours = date.getHours();
                                const minutes = date.getMinutes();

                                const time = `${day}/${month} ${hours}:${minutes}`
                            %>
                            <div class="col-md-4 col-sm-4 col-xs-5">
                                <p class="pull-right"> <%= time %></p>
                            </div>
                        </div>
                    </div><!-- /.panel-sub-heading -->
                    <div class="panel-body">
                        <div class="view-mail">
                            <p>
                                <%= email.message %>
                            </p>
                        </div><!-- /.view-mail -->
                        <% if (email.attachment) { %>
                        <div class="attachment-mail">
                            <p>
                                <span><i class="fa fa-paperclip"></i>  attachments — </span>
                                <a href="#">Download all attachments</a>
                                |
                                <a href="#">View all images</a>
                            </p>
                            <ul>
                                <li>
                                    <a class="name" href="#">
                                        IMG_001.jpg
                                        <span>20KB</span>
                                    </a>

                                </li>

                            </ul>
                        </div><!-- /.attachment mail -->
                        <% } %>
                    </div><!-- /.panel-body -->
                    <div class="panel-footer">
                        <div class="pull-right">
                            <a href="#mail-compose.html" class="btn btn-success btn-sm"><i class="fa fa-reply"></i> Reply</a>
                            <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-arrow-right"></i> Forward</button>
                            <button class="btn btn-info btn-sm tooltips" data-container="body" data-original-title="Print" type="button" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-print"></i> </button>
                            <button class="btn btn-danger btn-sm tooltips" data-container="body" data-original-title="Trash" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-trash-o"></i></button>
                        </div>
                        <div class="clearfix"></div>
                    </div><!-- /.panel-footer -->
                </div><!-- /.panel -->
            </form>
            <!--/ End form compose mail -->
        </div>
    </div>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>