<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="/listMail.css" />
    <style>
    .avatar {
        width: 40px;
        height: 35px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 10px;
    }
    </style>
    <title>Email</title>
  </head>
<body>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container">
    <div class="row">
        <div class="container mt-3">
            <a href="/profile"><h4 class="welcome-text text-right mb-2"><img src="/avt.jpg" class="avatar" id="avatar-preview"><%= name %></h4></a>
        </div>
        <div class="col-sm-3">

            <a href="/email/send" class="btn btn-danger btn-block btn-compose-email">Send Email</a>
            <ul class="nav nav-pills nav-stacked nav-email shadow mb-20">
                <li>
                    <a href="/email">
                        <i class="fa fa-inbox"></i> Inbox  <span class="label pull-right"></span>
                    </a>
                </li>
                <li>
                    <a href="/email/sentemail"><i class="fa fa-envelope-o"></i> Sent Mail</a>
                </li>
                <li>
                    <a href="/email/importantemail"><i class="fa fa-certificate"></i> Important</a>
                </li>
                <li>
                    <a href="/email/draftemail">
                        <i class="fa fa-file-text-o"></i> Drafts <span class="label label-info pull-right inbox-notification"></span>
                    </a>
                </li class="active">
                <li><a href="/email/trashemail"> <i class="fa fa-trash-o"></i> Trash</a></li>
            </ul><!-- /.nav -->

            <h5 class="nav-email-subtitle">More</h5>
            <ul class="nav nav-pills nav-stacked nav-email mb-20 rounded shadow">
                <li>
                    <a href="#">
                        <i class="fa fa-folder-open"></i> Promotions  <span class="label label-danger pull-right"></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-folder-open"></i> Job list
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-folder-open"></i> Backup
                    </a>
                </li>
            </ul><!-- /.nav -->
        </div>
        <div class="col-sm-9">
            <div class="panel rounded shadow panel-teal">
                <div class="panel-heading">

                    <div class="pull-left">
                        <h3 class="panel-title">Inbox</h3>
                    </div>
                    <div class="pull-right">
                        <form action="/email/search" class="form-horizontal mr-5 mt-3" method="get">
                            <div class="form-group no-margin no-padding has-feedback">
                                <input type="text" name="q" class="form-control no-border" placeholder="Search mail">
                                <button type="submit" class="btn btn-theme fa fa-search form-control-feedback"></button>
                            </div>
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div><!-- /.panel-heading -->
                <form action="/email/toggle" method="post">
                <div class="panel-sub-heading inner-all">
                    <div class="pull-left">
                        <ul class="list-inline no-margin">
                            <li>
                                <div class="btn-group">
                                    <button value="read" name="options" type="submit" class="btn btn-default btn-sm mr-3" >Read</button>
                                    <button value="unread" name="options" type="submit" class="btn btn-default btn-sm mr-3 " >UnRead</button>
                                    <button value="favorite" name="options" class="btn btn-default btn-sm tooltips" type="submit" title="Favorite" ><i class="fa fa-star"></i></button>
                                    <button value="unfavorite" name="options" class="btn btn-default btn-sm tooltips" type="submit" title="UnFavorite" ><i class="fa fa-star-o"></i></button>
                                </div>
                            </li>
                            <li>
                                <div class="btn-group">
                                    <button class="btn btn-default btn-sm tooltips" type="button" data-toggle="tooltip" data-container="body" title="Archive" data-original-title="Archive"><i class="fa fa-inbox"></i></button>
                                    
                                    <button value="trash" name="options" class="btn btn-default btn-sm tooltips" type="submit" title="Delete"><i class="fa fa-trash-o"></i></button>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="pull-right">
                        <ul class="list-inline no-margin">
                            <li class="hidden-xs"><span class="text-muted">Showing 1-50 of <%= emails.length %> messages</span></li>
                            <li>
                                <div class="btn-group">
                                    <a href="#" class="btn btn-sm btn-default"><i class="fa fa-angle-left"></i></a>
                                    <a href="#" class="btn btn-sm btn-default"><i class="fa fa-angle-right"></i></a>
                                </div>
                            </li>
                            <li class="hidden-xs">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-cog"></i> <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li class="dropdown-header">Display density :</li>
                                        <li class="active"><a href="#">Comfortable</a></li>
                                        <li><a href="#">Cozy</a></li>
                                        <li><a href="#">Compact</a></li>
                                        <li class="dropdown-header">Configure inbox</li>
                                        <li><a href="#">Settings</a></li>
                                        <li><a href="#">Themes</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Help</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div><!-- /.panel-sub-heading -->
                <div class="panel-body no-padding">

                    <div class="table-responsive">
                        <table class="table table-hover table-email">
                            <tbody>
                            <% emails.forEach(function(email, i) { %>
                            <% 
                                const date = new Date(email.createdAt);
                                const day = date.getDate();
                                const month = date.getMonth() + 1;

                                const hours = date.getHours();
                                const minutes = date.getMinutes();

                                const time = `${day}/${month} ${hours}:${minutes}`
                            %>
                            <tr  class="<% if (!email.read) { %> unread <% } else {%> read <% } %>">
                                <td>
                                    <div class="ckbox ckbox-theme">
                                        <input name="idEmail" value="<%= emails[i]._id %>" id="checkbox1" type="checkbox" class="mail-checkbox">
                                        <label for="checkbox1"></label>
                                    </div>
                                </td>
                                
                                <td>
                                    <% if (email.favorite) { %>
                                    <a href="#" class="star star-checked"><i class="fa fa-star"></i></a>
                                    <% } %>
                                </td>
                                
                                <td onclick="window.location.href = '/email/<%= email.id %>';">
                                    <div class="media">
                                        <a href="#" class="pull-left">
                                            <img alt="..." src="https://bootdey.com/img/Content/avatar/avatar1.png" class="media-object">
                                        </a>
                                        <div class="media-body">
                                            <h4 class="text-primary"><%= email.from %></h4>
                                            <p class="email-summary"><strong>[<%= email.subject %>] </strong><%= email.message.substring(0, 20) %>... <span class="label label-success">New</span> </p>
                                            <span class="media-meta"><%= time %></span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div><!-- /.table-responsive -->
                </form>
            </div><!-- /.panel-body -->
        </div><!-- /.panel -->
    </div>
</div>
</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>